version: '3.3'
services:
  jupyter:
    build:
      context: ".."
      dockerfile: docker/Dockerfile
    hostname: pysus-jupyter
    container_name: pysus-jupyter
    privileged: true
    environment:
      - DISPLAY=:0
      - CI=${CI:-0}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ..:/home/pysus
    entrypoint: ["/entrypoint.sh"]
    command: ["/usr/bin/firefox"]
