# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 60
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2

    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "*"
        environment-file: environment.yaml
        channels: conda-forge
        activate-environment: env-pysus
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: install dependencies
      shell: bash -l {0}
      run: |
        make install

    - name: Lint with flake8
      shell: bash -l {0}
      run: |
        make lint

    - name: Test with pytest
      shell: bash -l {0}
      run: |
        make test
