name: tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        python-version: ["3.9"]
    concurrency:
      group: ci-${{ github.ref }}
      cancel-in-progress: true
    
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v2
    
    - uses: conda-incubator/setup-miniconda@v2
      with:
        miniconda-version: "latest"
        mamba-version: "*"
        environment-file: conda/environment.yaml
        channels: conda-forge,nodefaults
        activate-environment: env-pysus
        use-mamba: true
        miniforge-variant: Mambaforge

    - name: Install dependencies
      run: |
        make install

    - name: Lint with flake8
      run: |
        make check-codestyle

    - name: build and deploy jupyterlab
      run: |
        make run-jupyter-pysus

    - name: Test with pytest
      run: |
        make test
